{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% translate "Welcome Back!" %}</h1>
    <h2>{% translate "Login to your account" %}</h2>
    {% include "store/components/form.html" with button=button_text %}
    <p>
        <a href="{% url "account:password_reset" %}">{% translate "Forgot password?" %}</a>
    </p>
    <p>
        <a href="{% url "account:register" %}">{% translate "Don't have an account? Sign up" %}</a>
    </p>
    {% include "account/components/social-login.html" %}
{% endblock content %}
