<div class="cart">
    {% with total_items=cart|length %}
        {% if total_items > 0 %}
            <a href="{% url "cart:cart_detail" %}">
                <i class="fa fa-shopping-basket"></i>
                <div class="basket_count">{{ total_items }}</div>
                <span class="basket_price">{{ cart.get_total_price }}{{ currency }}</span>
            </a>
        {% elif not order %}
            <i class="fa fa-shopping-basket"></i>
            <div class="basket_count">0</div>
        {% endif %}
    {% endwith %}
</div>
